@charset "utf-8";


@import '../node_modules/bulma/bulma.sass/utilites/_all.sass';
@import '../node_modules/bulma/bulma.sass/elements/button.sass';
@import '../node_modules/bulma/bulma.sass/elements/container.sass';
@import '../node_modules/bulma/bulma.sass/layout/hero.sass';



.app{
    position: relative;
    min-height: 100vh;

}

img{
    width: 100%;
}
.nomad-container{
    width: 60%;
    margin:0 auto;
}

#shop-now {
    &:hover {
      background-color: #606060;
    }
}

.featured-collection{
    margin-top: 6rem;
}

.featured-section-title {
    cursor: pointer;
}

@media(min-width: 1024px){
    .products {
        display: flex;
        justify-content: space-between;
        padding: 5px;

        .featured-product {
            margin: 10px;
          }
        }
    }


    .name-price{
        p{
            font-size: 1.2rem;
            font-weight: bold;
        }
        h3{
            font-size: 1rem;
        }
    }

   .nomad-btn{
        display: block;
        width: 100%;
        line-height: 1.4;
        padding-left: 5px;
        padding-right: 5px;
        white-space: normal;
        margin-bottom: 10px;
        min-height: 44px;

   }

   .nomad-input {
       width: 100%;
       padding: 10px;
       margin-bottom: 1rem;
    }

    form {
        padding: 2rem;
        text-align: center;
        input[type=text],
        input[type=email],
        input[type=password]{
         width: 60%;
        }
        
      .submit-btn {
          display: flex;
          justify-content: center;
      }
      
      .submit {
          width: 200px;
      }
    }

    .form-error {
         border: 1px solid red
    }

    ::placeholder {
         color: #606060;
         font-size: 16px;
    }

    #btn-white-outline {
        border:solid grey;
        margin-bottom: 1rem;
    }
    #buy-it-now-btn{
        &:hover{
            background-color: #606060;
        }
    }

    @media(min-width: 100px) {
      form{
          width: 80%;
          margin: 0 auto;
          input[type=text],
          input[type=email],
          input[type=password]{
           width: 65%;
      }
    }
 }